html { 
    /* background: url("/tftstratroulette/res/background.png") no-repeat center center fixed;  */
    background: url("/res/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }