:root {
    --black: #1e1e1e;
    --outer_border:#6a5831;
    --inner_border:#1f3f40;
    --ui_bg:#172020;
}
body {
    background-color: var(--black);
}
.app {
    /* background: url("/tftstratroulette/res/bg3.png") no-repeat 50% -10% fixed; */
    background: url("/res/bg3.png") no-repeat 50% -10% fixed;
    background-repeat: no-repeat;
    background-size: 60%;
    max-width: 1010px;
    margin:0 auto;
    position: relative;
    box-shadow: 3px 5px 5px;
    border-radius: 5px;
    border: 2px solid var(--outer_border);
    outline-offset: -4px;
    outline: 2px solid var(--inner_border);
}
.ad_space {
    background-color: var(--ui_bg);
    width: 180px;
    height: 100%;
    position: absolute;
    /* background-image: url("/tftstratroulette/res/ad.jpg"); */
    background-image: url("/res/ad.jpg");
}
.r_ad {
    right:-185px;
}
.l_ad {
    left:-185px;
}
.main_container {
    height: 3000px;
}
.row {
    display: flex;
}
/* ----------- DIFFICULTY ----------- */
.difficulty_container {
    display: flex;
}
.d_btn {
    outline:1px solid red;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
}
.d_btn>img {
    height: 100px;
}